@page
@model Lab2.Pages.RegistrationModel
@{
    ViewData["Title"] = "Course Registration";

    Model.cSelections = new List<SelectListItem>();

    SelectList Options = new SelectList(DataAccess.GetAllStudents(), "StudentId", "StudentName");

    foreach (Course cs in DataAccess.GetAllCourses())
    {
        Model.cSelections.Add(new SelectListItem(cs.CourseTitle, cs.CourseCode, false));
    }
}
@using AcademicManagement;


<div class="container">
    <h3>Ragistration</h3>

    <form method="post" >
        <div class="form-group row mb-3">
            <div class="m-4 col-sm-3 dropdown">
                <select name="selectedStudentId" class="form-select">
                    <option value="-1" >Choose a student</option>
                    @foreach (Student student in DataAccess.GetAllStudents())
                    {
                        if (student.StudentId == Model.selectedStudentId)
                        {
                            <option value="@student.StudentId" selected="selected" class="">@student.StudentName</option>

                        }
                        else
                        {
                            <option value="@student.StudentId" >@student.StudentName</option>
                        }

                    }
                </select>
            </div>
            <div class="m-4 col-sm-4">
                <button class="btn btn-primary" type="submit" value="StudentSelected" asp-page-handler="StudentSelected">Get Registrations</button>
            </div>

        </div>
   <!-- Show alert information -->
        @if (!Model.NameCheck && Model.LoadTime != 0)
        {
            <p class="alert-primary">
                Please select at least one student
            </p>
        }
        else if (Model.NameCheck && !DataAccess.GetAcademicRecordsByStudentId(Model.selectedStudentId).Any())
        {
            <p class="alert-primary">
                The student has not registered any courses. Select course(s) to register
            </p>
        }
        else if (Model.NameCheck && Model.CourseCheck)
        {
            
            <p class="alert-primary">
                The student has registered for the following courses.
            </p>
        }
        else if (Model.NameCheck )
        {
           
                    <p class="alert-primary">
                        Please select at least one course
                    </p>
           
           
        }
        <!-- Show Course Information -->
        @if (Model.NameCheck && !Model.CourseCheck)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Course Code</th>
                        <th scope="col">Course Title</th>
                        <th scope="col">Check to Register</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.cSelections.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="@Model.cSelections[i].Value" hidden />
                                @Model.cSelections[i].Value
                            </td>
                            <td>
                                <input asp-for="@Model.cSelections[i].Text" hidden />
                                @Model.cSelections[i].Text
                            </td>
                            <td>
                                <input type="checkbox" asp-for="@Model.cSelections[i].Selected">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-sm-4 m-2">
                <button class="btn btn-primary" type="submit" value="Register" asp-page-handler="Register">Register</button>
            </div>
        }
    </form>
    <!-- Show Registration Result -->
    
    @if (Model.CourseCheck && Model.NameCheck)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Course Code</th>
                    <th scope="col">Course Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.SelectedCourses)
                {
                    <tr>
                        <td>@course.CourseCode</td>
                        <td>@course.CourseTitle</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
